{% extends 'base.html' %}

{% block title %}
     {{  business.name  }}
{% endblock %}

{% block content %}
<br/><br/>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-header text-white bg-success">
                    <h3 class="">{{   business.name }}</h3>
                </div>
                <div class="card-body bg-muted">
                    <img class="card-img" src="{{ business.image.url }}" alt="Business image" style="max-width: 500px;max-height: 500px;">
                    <br><br>
                    <h4>Description</h4>
                    <span class="text-info">{{ business.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
        <h4 class="col-8 ">Comments</h4>
        {% if user.is_authenticated %}
            <form action="{% url 'comment_create' business.id %}" method="post" class="form-inline col-md-4">
              {% csrf_token %}
              <!--{{ form.as_p }}-->
              <div class="form-group mx-2">
                <input class="form-control" type="text" name="text" required="" id="id_text" maxlength="1024">
              </div>
              <input class="btn btn-secondary" type="submit" value="Comment" />
            </form>
        {% endif %}
        </div>
        <hr/>
        <br/>
    </div>

    <div class="container-md">
    {% for comment in comments %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ comment.text}}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-10">
                                By: {{ comment.user.username }}
                                <i></i>
                            </div>
                            {% if user.is_superuser or user == comment.user %}
                                <div class="col-2">
                                    <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    {% endfor %}
</div>


{% endblock %}