{% extends 'base.html' %}

{% block title %}
     Home
{% endblock %}

{% block content %}

     <div class="row container">
         <form action="#" method="GET">
            <select name="countries" onchange="this.form.submit()" class="bg-primary text-white">
                <option value=""></option>
                {% for country in countries_list %}
                {% if country.pk == filt1 %}
                <option value="{{country.pk}}" selected>{{country.name}}</option>
                {% else %}
                <option value="{{country.pk}}">{{country.name}}</option>
                {% endif %}
                {% endfor %}
            </select>

             <select name="cities" onchange="this.form.submit()" class="bg-info text-white">
                 <option value=""></option>
                 {% for city in cities_list %}
                 {% if city.pk == filt2 %}
                 <option value="{{city.pk}}" selected>{{city.name}}</option>
                 {% else %}
                 <option value="{{city.pk}}">{{city.name}}</option>
                 {% endif %}
                 {% endfor %}
             </select>
         </form>
    {% for business in business_list %}
      <div class="col-sm-4 p-3">
        <div class="card">
            <a href="{% url 'business_detail' business.id %}"><div class="card-header bg-success text-white">
                {{  business.name }}
            </div></a>
            <div class="card-body">
                <a href="{% url 'business_detail' business.id %}"><img class="img-thumbnail" src="{{ business.image.url }}" alt="Business image"></img>   </a>
            </div>
            <div class="card-footer">

                <a href="{% url 'business_detail' business.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}