
<ul class="nav navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link active text-white" href="{% url 'home' %}">LifeTrips</a>
  </li>

  {% if user.is_authenticated %}
    {% if user.is_superuser %}
    <li class="nav-item bg-warning justify-content-end">
      <a class="nav-link active text-white" href="{% url 'admin:index' %}">Admin</a>
    </li>
    {% endif %}
    <li class="nav-item bg-danger justify-content-end">
      <a class="nav-link active text-white" href="{% url 'logout' %}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item bg-dark justify-content-end">
      <a class="nav-link active text-white" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item bg-dark justify-content-end">
      <a class="nav-link active text-white" href="{% url 'register' %}">Register</a>
    </li>

  {% endif %}
  </ul>